.div-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}
.form-group {
  width: 500px;
  border: 1px solid #EEEEEE;
  padding: 30px;
  border-radius: 6px;
  background-color: #EEEEEE;
}
.form-control {
  margin-bottom: 30px;
}
.button {
  background-color:  #142d4c;
  color: #fff;
  border-radius: 4px;
  height: 40px
}